@page "/admin"

<AuthorizeView Roles="Administrator">
    <Authorized>
        <h3><b>Add User</b></h3>
        <div class="create-form">
            <EditForm Context="form" Model="@newUser" OnValidSubmit="(()=>addProduct())">
                <div class="form-group row">
                    <label for="newProductName" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.userName" type="text" class="form-control" id="newProductName" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.Password" type="text" class="form-control" id="newProductPrice" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newCategoryOfProduct" class="col-sm-2 col-form-label">Role</label>
                    <div class="col-sm-10">
                        <select @bind="@newUser.roleId" id="newCategoryOfProduct" class="form-control">
                            <option value="-1" selected>Choose...</option>

                            @if (listRoleData != null)
                            {
                                @foreach (var role in listRoleData)
                                {
                                    <option value="@role.id">@role.name</option>
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.email" type="email" class="form-control" id="newProductPrice" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.name" type="text" class="form-control" id="newProductPrice" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.lastName" type="text" class="form-control" id="newProductPrice" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newProductPrice" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                        <input @bind="newUser.phoneNumber" type="tel" class="form-control" id="newProductPrice" placeholder="Phone Number">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square"></i> &nbsp;&nbsp; Add User</button>
                <button type="reset" class="btn btn-primary"><i class="fas fa-redo"></i> &nbsp;&nbsp; Reset</button>
            </EditForm>
        </div>


        <h3><b>User List</b></h3>
        @if (listUserData == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left">Index</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Phone Number</th>
                        <th>Role</th>

                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var User in listUserData)
                    {
                        <tr>
                            <td class="text-left">@i</td>
                            <td>@User.name</td>
                            <td>@User.lastName</td>
                            <td>@User.userName</td>
                            <td>@User.phoneNumber</td>
                            <td>@User.roles[0].name</td>

                            <td class="text-center">
                                <button type="button" class="btn" data-toggle="modal" data-target="#ModalEdit" style="cursor:pointer; color:blue"><i class="fas fa-edit fa-lg"></i></button>
                                <button type="button" class="btn" style="cursor:pointer; color:red" data-toggle="modal" data-target="#ModalDelete"><i class="fas fa-trash-alt fa-lg"></i></button>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        <h4><b>Đăng nhập với quyền admin để xem trang này</b></h4>
    </NotAuthorized>
</AuthorizeView>