@layout LoginLayout
@page "/loginv2"

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Đăng nhập </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img style="width:100%" src="/gif/justfuckit.gif" />
        </div>

        <!-- Login Form -->
        <EditForm Model="@user" OnSubmit="@CheckUser">
            <input @bind="user.userName" type="text" id="login" class="fadeIn second" name="login" placeholder="Tên đăng nhập">
            <input @bind="user.Password" type="password" id="password" class="fadeIn third" name="login" placeholder="Mật khẩu">
            <input disabled="@isTaskRunning"  type="submit" class="fadeIn fourth" value="@loginButtonText">
        </EditForm>

        <div id="formFooter">
            <p>@LoginMesssage</p>
        </div>
    </div>
</div>