@page "/product"

<h3>Products</h3>

<div class="create-form">
    <EditForm Model="@newProduct" OnValidSubmit="@(()=>addProduct())">
        <div class="form-group row">
            <label for="newProductName" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input @bind="newProduct.name" type="text" class="form-control" id="newProductName" placeholder="Product Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="newProductPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input @bind="newProduct.price" type="number" class="form-control" id="newProductPrice" placeholder="Price">
            </div>
        </div>
        <div class="form-group row">
            <label for="newCategoryOfProduct" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <select @bind="@newProduct.productCategoryId" id="newCategoryOfProduct" class="form-control">
                    <option selected>Choose...</option>
                    @if (listProductCategory != null)
                    {
                        @foreach (var productCategory in listProductCategory)
                        {
                            <option value="@productCategory.id">@productCategory.name</option>
                        }
                    }

                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </EditForm>
</div>



@if (listProduct == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var product in listProduct)
        {
            <tr>
                <td>@i</td>
                <td>@product.name</td>
                <td>@product.price</td>
                <td>@product.productCategoryName</td>
                <th>
                    <a style="cursor:pointer; color:blue">Edit</a> |
                    <a style="cursor:pointer; color:blue">Delete</a>
                </th>
            </tr>
            i++;
        }
    </tbody>
</table>
}


